<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/headerResources :: header_resources"></head>

<body>
    <nav th:insert="fragments/navbar :: nav_fragment"/>
    <div class="container p-3 my-3 bg-warning text-black-50">
        <card>
            <card-header ><h2>HOME</h2></card-header>
            <card-body class="bg-light text-black"> <p>Click Add Shipping to add a box and see the cost of shipping.</p></card-body>
            <cardFooter th:insert="fragments/cardFooter :: cardFooter_fragment"></cardFooter>
        </card>
    </div>
    <footer th:insert="fragments/footer :: footer_fragment"/>
</body>
</html>