<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Made by MOS</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>

<body>

<nav th:insert="fragments/navbar :: nav_fragment"/>

<div class="card">
    <div class="card-header card bg-info text-white">
        <h2>Show Box List</h2>
    </div>


    <div th:if="${boxList.isEmpty()}">
        No product Available.
    </div>
    <div class="card-body">
        <h4 class="card-title">Boxes</h4>
        <div class="container">
            <table class="table-striped">
                <thead>
                <tr class="mb-4">
                    <th class="row-cols-md-8">Id</th>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Country</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <div class="row" th:unless="${boxList.isEmpty()}">
                    <!--class="col-lg-4 col-md-12 mb-4"-->
                    <div th:each="aBox : ${boxList}">
                        <div class="card-body">
                            <tbody>
                                <tr class="mb-4">
                                    <td th:text="${aBox.id}"></td>
                                    <td th:text="${aBox.name}"></td>
                                    <td th:text="${aBox.weight}"></td>
                                    <td th:text="${aBox.country}"></td>
                                    <td th:text="${aBox.cost}"></td>
                                </tr>
                            </tbody>
                        </div>
                        <!--<div class="card-footer">
                           -
                        </div>-->

                    </div>
                </div>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-outline-danger">Back</button>
    </div>
</div>
<footer th:insert="fragments/footer :: footer_fragment"/>
</body>
</html>